.popup
{
    position:fixed;
    top:50%;
    transform:translate(-50%, -50%);
    width: 70%;
    z-index: 1;
    transform:translate(-50%, -50%) scale(1);
    width:70%;
    z-index: 1;
}
.w-200
{
    width: 800px;
    height: 90vh;
}
.float-right
{
    float: right;

}
.glow {
    font-size: 1rem;
    color: rgb(250, 9, 9);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    margin-top: 5px;
  }
  .top-button
  {
    position: relative;
    height: 35px;
    border: 2px solid blue;
  }
  .top-button:hover
  {
    background-color: blue;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #fff, 0 0 20px #e61b00, 0 0 40px #e61b00, 0 0 40px #e61b00, 0 0 20px #e61300, 0 0 20px #f70909, 0 0 20px #e61300;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 3px #ff7f4d, 0 0 40px #ff4da6, 0 0 20px #ff4da6, 0 0 20px #ff4da6, 0 0 20px #ff4da6, 0 0 20px #ff4da6;
    }
  }
  .t-telegram {
    color: rgb(247, 248, 246);
    background-color: transparent;
    text-decoration: none;
  }
  .rev
  {
    display: flex;
    flex-direction: row;
  }
  .rev{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-around;
  }
  .s-disp
  {
    margin-top: 10px;
  }
  .speciality-popup
  {
      position:fixed;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      width:50%;
      z-index: 999;
  }
  .w-600
  {
      width: 600px;
      height: 80vh;
  }
  .float-right
  {
      float: right;
  }
  @media screen and (max-width: 576px) {
    
    .glow {
      font-size: 0.5rem;
      font-size: 0.6rem;
      color: rgb(250, 9, 9);
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
      }
  .rev{
        display: flex;
        flex-direction: row;
        background-color: rgb(13, 188, 176);
        justify-content: space-around;
      }
.popup
{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 50%;
    z-index: 1;
    
}
.top-button
  {
    position: relative;
    height: 35px;
    border: 2px solid blue;
  }
  .top-button:hover
  {
    background-color: blue;
  }
      .popup{
        width: 90%;
      }
      .top-button{
        font-size: 0.6rem;
      }
  
}
@media screen and (min-width: 1439px) {
.glow {
  font-size: 1rem;
  color: rgb(250, 9, 9);
  text-align: right;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-align: center;

}
.rev{
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  justify-content: space-around;
}

} 
@media screen and (maxx-width: 1440px) {
 
.glow {
  font-size: 1rem;
  color: rgb(250, 9, 9);
  text-align: right;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
} 
.rev{
  display: flex;
  flex-direction: row;
  background-color: lightslategrey;
  justify-content: space-around;
}
.s-disp
{
  margin-top: 10px;
}
.float-right
{
    float: right;
}
.popup
{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 50%;
    z-index: 1;
    
}
