.container-slider {
    display: flex;
    /* height: max-content; */
    /* height: 40vh; */
    justify-content: center;
    align-items: center;
}

.img-slider {
    height: 200px;
    margin: 0px;
    padding: 10px;
}

@media only screen and (max-width: 765px) and (min-width: 300px) {
    .container-slider {
        background-color: rgb(250, 247, 247);
        /* height: 30em; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .img-slider {
        height: 200px;
        width: 80%;
        margin: 10px;
    }
    .s-desc {
        font-size:1rem;
        padding: 0% 0% 0% 5%;
        /* margin: 2%; */
    }
.title{
    background: linear-gradient(rgb(77, 82, 148), rgb(113, 163, 64) );
color: whitesmoke;
}
   

   
}

@media only screen and (max-width: 1500px) and (min-width:767px) {
    
    .container-slider {
        background-color: rgb(250, 247, 247);
        /* height: 30em; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .s-desc {
        font-size:1.4rem;
        padding: 0% 0% 0% 4%;
        margin: 0% 0% 10% 0%;
    }

    .img-slider {
        height: 30vmax;
        width: 90%;
        margin: 0px;
    }
}

/* @media screen and (max-width:1600px) {
    .img-slider {
        height: 25vmax;
        width: 90%;
        margin: 10px;
    }

    .s-desc {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        padding: 0% 0px 0% 3rem;

    }
} */