.social-media-icon{
  display: flex;
  flex-direction: row;
 font-size: 2.5rem;
 margin-right: 100px;
 opacity: 0.9;
 
}

.s-display
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("https://i.pinimg.com/originals/38/55/9d/38559de45f1784e2a4310747c631b19b.gif");
}
.logo
{
    width: 250px;
    height: 100px;
    opacity: 0.8;
}
#s-font
{
  display: flex;
  color: lightgoldenrodyellow;
  margin-top: 30px;
  margin-left: 500px;
  font-style: italic;

}
#icon1
{
  color: rgb(228, 42, 18);
  opacity: 1;
}
#icon1:hover
{
  color: rgb(74, 228, 18);
  animation: rotation 2s linear;
}
#icon2
{
  color: #81c8f5;
  opacity: 1;
}
#icon2:hover
{
  color: lightskyblue;
  animation: rotation 2s linear;
}
@keyframes rotation{
  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}

#icon3
{
  color: rgb(240, 19, 81);
  background-color: rgb(247, 238, 238);
  opacity: 1;
 
}
#icon3:hover
{
  color: rgb(246, 86, 86);
  animation: rotation 2s linear;
}
#icon4
{
  color: rgb(10, 91, 230);
  background-color: antiquewhite;
  opacity: 1;
}
#icon4:hover
{
  color: rgb(20, 170, 3);
  animation: rotation 2s linear;
}
#icon5
{
  color: rgb(23, 236, 30);
  opacity: 1;
}
#icon5:hover
{
  color: rgb(86, 218, 241);
  animation: rotation 2s linear;
}

@media only screen and (max-width: 765px) and (min-width: 300px) {
.logo
{
    width: 100px;
    height: 70px;
}
#s-font
{
  color: blanchedalmond;
  margin-top: 20px;
  font-size: 1rem;
  margin-left: 50px;
  font-style: italic;
  
}
.social-media-icon{
  font-size: 1.5rem;
  color: white;
  margin-left: 50px;
  margin-top: 20px;
 }
}
